@import "./variables";
@import "./mixins";


/* general start */

.read-more-btn {

    @include readMore;
}


/* general end  */


/* prices start */

.prices {
    @include section;
}

.price-box-parent {

    width: 100%;
    height: 100%;


    .price-box-parent-child {
        width: 100%;
        height: 100%;

        .cnt1 {
            .cnt2 {
                .price-box {
                    width: 26%;
                    height: 80%;
                    display: inline-block;
                    margin: 1%;
                    vertical-align: top;
                    border-radius: 10px;
                    transition: 1s all;
                    box-shadow: 0 0 20px transparentize($color: $main-orange, $amount: 0.7);

                    .price-box-left {
                        width: 34%;
                        height: 100%;
                        display: inline-block;
                        vertical-align: top;
                        border-radius: 10px 0px 0px 10px;
                        padding-right: 1%;

                        transition: 1s all;

                        .price-box-left-top {
                            width: 100%;
                            height: max-content;
                            text-align: right;

                            .price-box-left-top-span {
                                font-size: 4em;
                                font-weight: lighter;
                                color: $main-blue;
                            }

                        }

                        .price-box-left-bottom {
                            width: 100%;
                            height: max-content;
                            text-align: right;

                            span {
                                color: $main-blue;
                            }
                        }

                    }

                    .price-box-right {
                        width: 65%;
                        height: 100%;
                        display: inline-block;
                        vertical-align: top;


                        .price-box-right-top {
                            width: 100%;
                            height: 30%;
                            text-align: left;

                        }

                        .price-box-right-middle {
                            width: 100%;
                            height: 50%;
                            text-align: left;

                        }

                        .price-box-right-bottom {
                            width: 100%;
                            height: 20%;
                            text-align: left;

                            .cnt1 {
                                .cnt2 {
                                    .read-more-btn {
                                        margin-left: 5%;
                                    }
                                }
                            }

                        }
                    }
                }
            }

        }
    }



}

.price-box:hover {
    box-shadow: 0 0 55px transparentize($color: $main-lightBlue, $amount: 0.55) !important;
    background-color: $main-white !important;
    margin-top: -0.1% !important;

    .price-box-left {
        background-color: $main-white !important;
    }

}

.price-box-right-top-box {
    width: 100%;
    height: max-content;
    text-align: left;

    h6 {
        font-size: 1.5em;
        font-family: $main-font;
        margin-right: 20%;
        margin-left: 5%;
        font-weight: normal;
        color: $main-blue;
        font-weight: 600;
    }
}

.price-box-right-middle-box {
    width: 100%;
    height: max-content;
    text-align: left;
    margin-top: 10%;

    ul {
        list-style-type: none;
        margin-left: 5%;
        line-height: 35px;

        li {
            color: $main-blue;
        }
    }
}


/* prices end */

/* customers carousel  start */

.customers-carousel {
    @include section(60vh);

}

.customers-carousel-bg {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    overflow-x: hidden;

    .customers-carousel-bg-img {
        left: -20%;
        bottom: 0;
        position: absolute;
        width: 140%;
        height: 90%;
        z-index: 7;
    }

    .carousel-bg-none {
        display: none;
    }
}


.customers-carousel-content {

    position: absolute;
    z-index: 8;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    overflow-x: hidden;



}


.customers-carousel-box {
    width: 1200px;
    display: inline-block;
    margin-top: 10%;

    .owl-theme {
        width: 100%;

        .item {
            img {
                width: 100%;
            }
        }
    }
}


/* customers carousel   end */

/* Responsive */
@media screen and (max-width: 700px) {


    /* prices start */
    .prices {
        height: max-content !important;

        .price-box-parent {

            width: 100%;
            height: max-content;


            .price-box-parent-child {
                height: max-content;
                display: inline-block !important;
                text-align: center;
                margin-top: 20%;

                .cnt1 {
                    .cnt2 {
                        .price-box {
                            width: 90%;
                            height: max-content;
                            display: inline-block;
                            padding-top: 15%;
                            padding-bottom: 15%;
                            margin-bottom: 10%;
                            text-align: center;

                            .price-box-left {
                                width: 100%;

                                .price-box-left-top {
                                    text-align: center;
                                }

                                .price-box-left-bottom {
                                    text-align: center;

                                    span {
                                        margin-left: 5%;
                                    }
                                }
                            }

                            .price-box-right {
                                width: 100%;

                                .price-box-right-top {
                                    .cnt1 {
                                        .cnt2 {
                                            text-align: center;

                                            .price-box-right-top-box {
                                                text-align: center;
                                                width: 50%;
                                                display: inline-block;

                                                h6 {
                                                    margin-left: 0;
                                                    margin-right: 0;
                                                    margin-top: 10%;
                                                }
                                            }
                                        }
                                    }
                                }

                                .price-box-right-middle {
                                    .cnt1 {
                                        .cnt2 {
                                            .price-box-right-middle-box {
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                            }

                            .price-box-right-bottom {
                                margin-top: 10%;

                                .cnt1 {
                                    .cnt2 {
                                        text-align: center !important;

                                        .read-more-btn {
                                            margin-left: 2%;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    /* prices start */

    /* customers carousel start */

    .customers-carousel-box {
        width: 70vw;
    }

    .customers-carousel-bg {
        display: none;
    }

    /* customers carousel end */


}