@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}


/* container start */
.main-container-bg {
  position: absolute;
  height: max-content;
  width: 100%;
  top: 0;
  z-index: 6;
}

.main-container-bg-child {
  position: relative;
}

// the bg variable
$container-bg-left: -5%,
0,
55%;
$container-bg-size: 20%,
90%,
45%;
$container-bg-zindex: 3,
2,
1;

// this code will change left position with $container-bg-left
@for $item from 1 through length($container-bg-left) {
  .container-bg:nth-child(#{$item}) {
    left: nth($container-bg-left, $item);
    width: nth($container-bg-size, $item);
    z-index: nth($container-bg-zindex, $item);
  }
}

.container-bg {
  position: absolute;
  top: 0;
}


.main-container-bg-items {
  position: absolute;
  height: max-content;
  width: 100%;
  top: 0;
  z-index: 7;
}

.main-container-bg-items-child {
  position: relative;
  width: 100%;
  height: 100vh;
}


$container-element-left: 3%,
30%,
50%,
70%,
80%,
65%,
43%,
25%;
$container-element-top:20%,
15%,
10%,
20%,
40%,
70%,
80%,
70%;
$container-element-width:25%,
10%,
7%,
10%,
7%,
7%,
7%,
10%;

// this code will change left position with $container-bg-left
@for $item from 1 through length($container-element-left) {
  .container-element:nth-child(#{$item}) {
    left: nth($container-element-left, $item);
    top: nth($container-element-top, $item);
    width: nth($container-element-width, $item);
  }
}

.container-element {
  position: absolute;
}

.main-container {
  @include section;
}

.main-container-content {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 8;
}

.cnt1 {
  @include cnt1;
}

.cnt2 {
  @include cnt2;
}

.main-container-box {
  width: 80%;
  height: max-content;

  text-align: center;
  display: inline-block;
}

.main-container-box-title h1 {
  font-weight: normal;
  font-size: 3em;
  color: $main-title;
}

.main-container-box-description p {
  display: inline-block;
  width: 500px;
  color: $main-description;
}

.main-container-box-buttons {
  margin: 3%;
}

.main-container-box-buttons a {
  padding: 1% 3% 1% 3%;
  margin: 1%;
  background-color: $main-pallet-1;
  text-decoration: none;
  border-radius: 30px;
  color: $main-text-1;
}

.main-container-box-buttons a:nth-child(2) {
  background-color: $main-pallet-2;
}

/* container end */

/* secure start */
.main-secure {
  @include section(110vh);
}

.main-secure-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 7;

}

.main-secure-bg-child {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-secure-bg-text {

  width: 100%;
  height: max-content;
  text-align: center;
  position: absolute;

  span {
    font-size: 14vw;
    margin-left: 5%;
    font-family: $main-font;
    font-weight: bold;
    color: rgb(239, 243, 255);
    letter-spacing: -8px;
  }

}

.main-secure-bg-img {

  width: 100%;
  height: 100%;
  top: 15%;
  position: absolute;
  text-align: right;
  z-index: 1;

  img {
    width: 13%;
  }

}

.main-secure-content {

  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;

  & .main-secure-content-box {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;

    text-align: center;
  }



}

.box-test {
  width: 100%;
  height: 100%;

}


.main-secure-left-child-box {
  width: 80%;
  height: max-content;

  text-align: left;
  display: inline-block;
  margin-left: 20%;
}

.main-secure-left-top {
  h4 {
    font-size: 2.8em;
    font-weight: normal;
    color: $main-title;
    white-space: pre-wrap;
  }
}

.main-secure-left-middle {

  p {
    font-family: $main-font-description;
    font-size: 1.2em;
    margin-top: 2%;

  }
}


.main-secure-left-bottom-box {
  width: 100%;
  height: max-content;
  text-align: left;

  margin-top: 5%;
}

.main-secure-left-bottom-box-left {
  width: 100px;
  height: max-content;
  display: inline-block;

  text-align: left;
}

.main-secure-left-bottom-box-right {
  width: 80%;
  height: max-content;
  display: inline-block;


  p {
    text-align: left;
  }

  p:nth-child(1) {
    font-size: 1.5em;
  }

}

.secure-img {
  width: 100%;
}

/* secure end */

/* digital agency start */

.digital-agency {
  @include section;

}

.digital-agency-bg {
  width: 100%;
  height: 100%;
  text-align: left;
  position: absolute;
  z-index: 7;

  .cnt1 {
    .cnt2 {
      text-align: left;


      img {
        width: 55%;
      }
    }
  }
}

.digitall-agency-content {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  z-index: 8;

  .digitall-agency-content-box {
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .agency-left {
    width: 55%;
    position: relative;
  }

  .agency-right {
    width: 35%;
  }


}

.agency-shell {
  width: 90%;
  top: 10%;
  left: 10%;
  position: absolute;
}


.digital-agency-content-box-right {

  width: 90%;
  height: max-content;
  display: inline-block;
  text-align: left;
}

.digital-agency-content-box-right-top {
  width: 100%;
  text-align: left;

  h4 {
    font-size: 3em;
    font-weight: normal;
    font-family: $main-font-description;
    line-height: 55px;
    color: $main-blue;
    ;
  }
}

.digital-agency-content-box-right-middle {
  margin-top: 2%;

  p {
    font-family: $main-font-description;
    font-size: 1.2em;
    color: $main-grey;
    ;
  }
}

.digital-agency-content-box-right-bottom {
  width: 100%;
  text-align: left;
  margin: 8% 5%;

  a {
    padding: 2% 5%;
    background-color: $main-pallet-1;
    text-decoration: none;
    color: $main-white;
    border-radius: 20px;
  }
}

/* digital agency end */

/* Responsive */
@media screen and (max-width: 700px) {

  /* container start */
  .main-container-box-buttons {
    margin-top: 15%;
    margin-bottom: 5%;
  }

  .main-container-box-buttons a {
    padding: 4%;
  }

  .main-container-box-description p {
    width: 100%;
  }

  .container-bg:nth-child(1) {
    width: 80%;
    height: 50vh;


  }

  .container-bg:nth-child(2) {
    width: 100%;
    height: 100vh;
    object-fit: cover;

  }

  .container-element {
    display: none;
  }

  /* container end */

  /* secure start */
  .main-secure {
    height: 180vw;
  }

  .main-secure-bg-text {
    span {
      font-size: 5em;
      letter-spacing: 0px;
      margin-left: 0%;
    }
  }

  .main-secure-bg-img {
    top: 20%;

    img {
      width: 50%;
    }

  }

  .main-secure-content-box.secure-right {
    display: none;
  }

  .main-secure-content-box.secure-left {
    width: 85%;
  }

  .main-secure-left-child-box {
    width: 100%;
    margin-left: 0;
  }

  .main-secure-left-top {
    h4 {
      font-size: 1.5em;
      text-align: center;
    }
  }


  .main-secure-left-middle {
    text-align: center;
    margin-top: 10%;

    p {
      font-size: 1.1em;
    }
  }


  .main-secure-left-bottom-box {
    margin-top: 10%;
  }

  .main-secure-left-bottom-box-right {
    width: max-content;

  }

  /* secure end */

  /* digital agency start  */


  .digital-agency {
    height: 90vh;
  }

  .digital-agency-bg {
    display: none;
  }

  .digital-agency-content-box-right {
    width: 100%;
  }

  .agency-left {
    display: none !important;
  }

  .digital-agency-content-box-right-top h4 {
    text-align: center !important;
    font-size: 2em;
  }

  .digital-agency-content-box-right-middle p {
    text-align: center;
  }

  .digital-agency-content-box-right-bottom {
    text-align: center;
    margin: 10% 0%;
  }


  .agency-right {

    width: 90% !important;
  }

  /* digital agency end  */
}