@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}
.main-container-bg {
  position: absolute;
  height: max-content;
  width: 100%;
  top: 0;
  z-index: 6;
}
.main-container-bg-child {
  position: relative;
}

// the bg variable
$container-bg-left: -15%, 0, 55%;
$container-bg-size: max-content, 90%, 45%;
$container-bg-zindex: 3, 2, 1;
// this code will change left position with $container-bg-left
@for $item from 1 through length($container-bg-left) {
  .container-bg:nth-child(#{$item}) {
    left: nth($container-bg-left, $item);
    width: nth($container-bg-size, $item);
    z-index: nth($container-bg-zindex, $item);
  }
}

.container-bg {
  position: absolute;
  top: 0;
}

.main-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 9;
}
.main-container-content {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 8;
}
.cnt1 {
  @include cnt1;
}
.cnt2 {
  @include cnt2;
}

.main-container-box {
  width: 80%;
  height: max-content;
  background-color: red;
  text-align: center;
  display: inline-block;
}
.main-container-box-title h1 {
  font-weight: normal;
  font-size: 3em;
}
.main-container-box-description p {
  display: inline-block;
  width: 40%;
}
.main-container-box-buttons {
  margin: 3%;
}
.main-container-box-buttons a {
  padding: 1%;
  margin: 1%;
  background-color: $main-pallet-1;
  text-decoration: none;
  border-radius: 30px;
  color: $main-text-1;
}
.main-container-box-buttons a:nth-child(2) {
  background-color: $main-pallet-2;
}

/* Responsive */
@media screen and (max-width: 700px) {
  .main-container-box-buttons {
    margin-top: 15%;
    margin-bottom: 5%;
  }
  .main-container-box-buttons a {
    padding: 4%;
  }
  .main-container-box-description p {
    width: 100%;
  }
}
