@import "./variables";

@mixin cnt1 {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}

@mixin cnt2 {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin section($height:100vh) {

  width: 100%;
  height: $height;
  position: relative;
  text-align: center;

}

@mixin readMore {
  padding: 2% 5%;
  background-color: $main-orange;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
}

@mixin imagegrid($qty, $margin) {
  width: ((100% - (($qty - 1) * $margin)) / $qty);

  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }

  &:nth-child(#{$qty}n) {
    margin-bottom: 0;
    margin-right: 0;
  }
}