@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

// Colors
$main-white: #fff;
$main-blue: rgb(88, 70, 140);
$main-grey: rgb(113, 108, 128);
$main-darkBlue: #343352;
$main-orange: #ff8a73;
$main-heavyBlue: rgb(85, 128, 255);
$main-lightBlue: rgb(123, 185, 255);

// Fonts
$main-font-1: "Poppins";
$main-font-2:'Nunito',
sans-serif;
;

// secondry variables
$main-title: $main-blue;
$main-description: $main-grey;

// pallet 1
$main-pallet-1: $main-orange;

// pallet 2
$main-pallet-2: $main-heavyBlue;


//fonts
$main-font: $main-font-1;
$main-font-description : $main-font-2;


// text colors
$main-text-1: $main-white;